<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.voegtle.weatherwidget"
          android:versionCode="503"
          android:versionName="1.31">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-feature android:name="android.hardware.location.network" />

  <application
          android:icon="@drawable/wetterstation"
          android:label="@string/app_name"
          android:theme="@style/AppTheme"
          android:allowBackup="true"
          android:fullBackupContent="false">

    <activity
            android:name="WeatherActivity"
            android:label="@string/app_name"
            android:logo="@drawable/wetterlogo">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".preferences.WeatherPreferences"
              android:label="@string/settings"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>
    <activity android:name=".diagram.MainDiagramActivity"
              android:label="@string/action_diagrams"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>
    <activity android:name=".diagram.PaderbornDiagramActivity"
              android:label="@string/city_paderborn_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.BonnDiagramActivity"
              android:label="@string/city_bonn_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.FreiburgDiagramActivity"
              android:label="@string/city_freiburg_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.BaliDiagramActivity"
              android:label="@string/city_bali_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.LeoDiagramActivity"
              android:label="@string/city_leo_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.HerzoDiagramActivity"
              android:label="@string/city_herzo_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.MagdeburgDiagramActivity"
              android:label="@string/city_magdeburg_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.ShenzhenDiagramActivity"
              android:label="@string/city_shenzhen_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <activity android:name=".diagram.MobilDiagramActivity"
              android:label="@string/city_mobil_full"
              android:logo="@drawable/wetterlogo"
              android:parentActivityName=".WeatherActivity">
    </activity>

    <service android:enabled="true"
             android:exported="false"
             android:isolatedProcess="false"
             android:name=".widget.WidgetRefreshService"/>

    <receiver
            android:name="WeatherWidgetProviderLarge"
            android:label="@string/app_name_large">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widget_large"/>
    </receiver>

    <receiver
            android:name="WeatherWidgetProvider"
            android:label="@string/app_name_small">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widget_info"/>
    </receiver>

    <receiver
            android:name="WeatherWidgetFreiburgProvider"
            android:icon="@drawable/fr_widget"
            android:label="@string/app_name_freiburg">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widget_small_info"/>
    </receiver>

    <receiver
            android:name="WeatherWidgetPaderbornProvider"
            android:icon="@drawable/pb_widget"
            android:label="@string/app_name_paderborn">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widget_small_info"/>
    </receiver>

    <receiver
            android:name="WeatherWidgetBonnProvider"
            android:icon="@drawable/bn_widget"
            android:label="@string/app_name_bonn">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
              android:name="android.appwidget.provider"
              android:resource="@xml/widget_small_info"/>
    </receiver>

  </application>

</manifest>
